.information{
    width: 770px;
    margin: 0 auto;
    border: 1px solid #02458B;
    height: 530px;
    margin-bottom: 50px;
}

.inner_information{
    margin: 30px;
}

a, a:visited{
    color: #02458B;
}

.sport_title{
    margin-bottom: 10px;
    font-size: 17px;
    list-style: square;
}

.sport_list{
    margin-left: 30px;
}

.information_text{
    margin-bottom: 10px;
}