@media screen and (max-width: 320px){

    .article{
        width: 250px;
    }

    .article_head{
        font-size: 15px;
    }

    .article_text{
        font-size: 13px;
        text-indent: 0px;
    }

    .photos{
       display: block;
    }
}

@media (min-width: 321px) and (max-width: 414px){
    .article{
        width: 300px;
    }

    .photos{
        display: block;
    }

    .article_head{
        font-size: 17px;
    }

    .article_text{
        font-size: 15px;
        text-indent: 0px;
    }
}

@media (min-width: 415px) and (max-width: 769px){
    .article{
        width: 700px;
    }

    .photos{
        grid-template-columns: 325px 325px;
        gap: 10px;
    }

    html,body{
        height: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
    }

    footer{
        flex: 0 0 auto;
    }

    .wrapper{
        flex: 1 0 auto;
    }
}

@media (min-width: 770px) and (max-width: 1025px){
    html,body{
        height: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
    }

    footer{
        flex: 0 0 auto;
    }

    .wrapper{
        flex: 1 0 auto;
    }
}