.documents{
    width: 770px;
    margin: 0 auto;
    border: 1px solid #02458B;
    height: 500px;
    margin-bottom: 50px;
}

a, a:visited{
    color: #02458B;
}

.documents_names{
    margin: 30px 30px 30px 50px;
}

.documents_name{
    margin-bottom: 10px;
    font-size: 17px;
    list-style: square;
}

.documents_head{
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}